table {color:#080400;}
.table th { width: 5rem;     background-color: #f39a3d; }

td { background-color: #6BE3FF; }

span#lpntitle {
    margin-left: 1rem;
    background-color: orange;
    padding: 0rem 1.618rem;
    text-shadow: #f3d49d 1px 1px;
}

div#lpninfodiv {
background-color: #acecf3;
padding: 1rem 3rem;

}

.btn-primary {
margin-top: 1rem;
}

.opening {
    margin: 2rem 0rem 2.5rem;
}

#lpntablediv {
    margin-top: 3rem;
}

